.main-content__title {
    font-weight: 700;
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.to-do-box {
    margin-top: 32px;
}

.function-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    flex-grow: 1;
}

.function-card__image {
    height: 257px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 22px;
}

.function-card__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px 61px;
    margin-bottom: auto;
}

.function-card__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 147%;
}

.function-card__description {
    font-size: 24px;
    color: #000;
    margin-top: auto;
}

.function-card__link-wrapper {
    padding: 0 42px 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.function-card__link {
    width: 100%;
    max-width: 306px;
    padding: 16px;
    border-radius: 5px;
    background: #26252a;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #fff;
}