::before,*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #26252A;
    background-color: #fff;
}

.head-text {
    color: #000;
    font-size: 64px;
    font-weight: 600;
}

.main {
    display: flex;
    justify-content: flex-start;
}

.data-user {
}

.data-box {
    width: 380px;
    height: 752px;
    border-radius: 30px;
    border: 2px solid #000;
    padding: 24px;
    margin-right: 50px;
}

.head-data {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

data {
    padding: 0;
}

ul {
    padding: 0;
}

.data-item p, output{
    color: #000;
    font-size: 24px;
}

.data-item p{
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 5px;
}

.data-item output{
    font-weight: 300; /* почему не работает */
}

.h-line {
    border-top: 1px solid #000;
    width: 334px;
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
}

.box {
}

.filters {
    width: 1172px;
    height: 64px;
    border-radius: 30px;
    border: 2px solid #3F3F3F;
}

li {
    list-style-type: none;
}